.App {
  text-align: auto;
}

.App-logo {
  height: auto;
  pointer-events: none;
}
.header-description{
  /* background-color: rgba(90, 130, 209, 0.25); */
  -moz-border-radius:10px;  /* for Firefox */
  -webkit-border-radius:10px; /* for Webkit-Browsers */
  border-radius:10px;
  color: #0b0166;
  
}

.position-relative {
  position: relative !important; }

.navbar-transparent {
    position: static !important;
    background-color: #008bb5 !important;
  }
.navbar-brand img {
    height: 60px; }

.services-header{
  justify-content: center;
  align-items: center;
  text-align: center;
}
.navbar-main{
  display: block;
  position: static;
}

.services-card{
  margin-top :2%;
}

.footer {
  display: block;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.services{
  position: relative;
  clear: both;
}

.separator svg {
  display: block;
}
.app-header {
  background-image: url("./assets/img/theme/CT.jpg");

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-color: grey;
  min-height: 100vh;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
